body
{
    font-family: poppins;
    
}
header
{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 5%;
}
header :hover{
     animation: animeoi 2s linear infinite;
}
.logo h1
{
    font-size: 50px;
}
.logo h1 span
{
    color: orange;
}
.title
{

    width: 50%;
}
.title ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
}
.title ul li
{
    list-style: none;
}
.title ul li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgb(226, 223, 223);
    border-radius: 15%;
    
    
}

/* .logo a :hover {
     background-color: rgb(141, 160, 160);
    color:rgb(241, 22, 22) ;
    transition-duration: 0.6s;
} */
#section1
{
    height: 80vh;
    background: url(../image/main.jpg);
    background-size: cover;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: animemoi 5s linear infinite;
    

}

@keyframes animeloi{
    0%{transform: translatey(0deg);}
    50%{transform: translatey(50deg);}
    100%{transform: translatey(20deg);}
}



@keyframes animemoi{
    0%{background: url(../image/article-image-1\(1\).jpg); background-repeat: no-repeat; background-size: cover;}
    50%{background: url(../image/article-image-2\(1\).jpg); background-repeat: no-repeat; background-size: cover;}
    100%{background: url(../image/main\(1\).jpg); background-repeat: no-repeat; background-size: cover;}
}   
#section1 h1
{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;
    transition-duration: 5s;  /*pour une transistion dun element du site  */
}
#section1.second-title
{
    font-weight: bold;
    margin-top: 0px;
}
#section1 a
{
    background-color: orange;
    padding-inline: 2%;
    padding-block: 1%;
    margin-top: 5%;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 3s;   /*pour une transistion dun element du site  */
    
}
/* #section1 a:hover
{
    background-color: aqua;
    color:black ;
    transition-duration: 0.6s;
} */

/* #section1 a:hover
{
    background-color: aqua;
    color:black ;
    transform: scale(1.1);
    transition-duration: 0.2s;
} */

/* #section1 a:hover
{
    background-color: aqua;
    color:black ;
    transform: rotate(360deg);
    transition-duration: 0.2s;
} */

#section1 a:hover
{
    background-color: aqua;
    color:black ;
    transform: translate(10px,20px);
    transition-duration: 0.2s;
} 

/* #section1 a:hover
{
    background-color: aqua;
    color:black ;
    transform: skew(45deg)
    transition-duration: 0.2s;
} */


/* main{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 5%;
} */
#section2{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    margin-top: 1%;
    
    
}

#section2 div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#section2 div h2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.a2{
 padding: 5%;  
}

#section3a:hover{
    background-color: aqua;
    color:black ;
    transform: rotate(360deg);
    transition-duration: 0.2s;
}

#section3{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    background-color: rgb(203, 199, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding: 2%;
    animation: animemoi 22s linear infinite ;
}

.grand-gauche{

    height: 50vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    border-radius: 11px;
    background: url(../image/article-image-2.jpg);
    background-size: cover;
    border-radius: 5%;

    .g{
        /* background-color: aliceblue;
        width: 50%;
        height: 50vh;
        float: end;
        margin-right: 50%; */
        margin-top: 5%;
        text-decoration: none;
        justify-content: center;
        background-color: white;
        height: 100%;
        width: 55%;
        margin-right: 45%;
        margin-bottom: 5%;
        opacity: 0.8;
        border-radius: 5%;
    }

     h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 33px;
        margin-left:10px;
        
    }

    p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-top: 63px;
    }
    a{
       background-color: orange;
       padding-inline: 2%;
       padding-block: 1%;
       margin-top: 5%;
       color: white;
       text-decoration: none;
       border-radius: 5px;
       transition-duration: 0.5s;
    }

    a:hover{
            background-color: aqua;
            color:black ;
            transform: translate(10px,20px);
            transition-duration: 0.2s;
           }
}

.grand-droite{
    height: 50vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    border-radius: 11px;
    background: url(../image/article-image-2.jpg);
    background-size: cover;
    border-radius: 5%;

    .g{
        /* display: flex;
        background-color: aliceblue;
        width: 50%;
        height: 50vh;
        float: end;
        margin-right: 50%;
        flex-direction: column; */

        margin-top: 5%;
        text-decoration: none;
        justify-content: center;
        background-color: white;
        height: 100%;
        width: 55%;
        margin-right: 45%;
        margin-bottom: 5%;
        opacity: 0.8;
        border-radius: 5%;

        a{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 33px;
        margin-left:10px;
        
    }

    p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-top: 63px;
    }
    a{
       background-color: orange;
       padding-inline: 2%;
       padding-block: 1%;
       margin-top: 5%;
       color: white;
       text-decoration: none;
       border-radius: 5px;
       transition-duration: 0.5s;
    }

    @keyframes animemoi {
        form{transform: rotate(0deg); }
        to{transform: rotate(360deg); }
    }
    a:hover{
        /* color: black;
         background-color: rgb(202, 255, 10);
         color:rgb(212, 17, 17) ; */
         /* transform: rotate(8deg); */
         /* transform: scale(1.1);  */
         /* transform: translate(7px,15px); */
         /* transform: skew(34deg);
         transition-duration: 0.8s;
            */
            animation: animemoi 2s linear infinite;
            }
}


#section4{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding: 2%;
}

.contacter{
    height: 20vh;
}
.aa{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: black 5px;
    
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 253);
    margin-bottom: 1%;
}

.ff{
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 100%;
}
input{ 
    font-size: 100%;
}

footer{
    /* background-color: darkolivegreen;
    height: 33vh;
    padding-top: 5%; */
    height: 40vh;
    background-color: black;
    color: white;
    
}
.aaa{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 400%;
    margin-top: 5%;

}

.aaaa{
    background-color: blueviolet;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animeloi 2s ease-in-out infinite;
    

}

@keyframes animeloi{
    0%{transform: translatey(20px);}
    50%{transform: translatey(0px);}
    100%{transform: translatey(20px);}
}