.contenaire1 {
    height: 9%;
    background-color: rgb(223, 223, 223);
    
}

.nav-linkactive{
    font-size: px;
    margin-right: 44%;
    
    p{
        font-size: 1px;
        color:  rgb(44, 190, 25);
    }
}
.contenaire2{
    
    height: 35%;
    border: none;
    background: url(Assets/home-bg-img.png);
    background-size: cover;
     /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;  */
}

.contenairee{
    display: flex;
   
   height: 71vh;
    
    background: url(Assets/home-bg-img.png);
    background-size: cover
}

.colum1{
    
    width: 50%;

    h1{
        font-size: 43px;
        margin: 8%; 
    }

    p{
       margin: 8%; 
       font-size: 23px; 
    }
    button{
        margin: 8%; 
        border-radius: 15px;
        height: 7%;
        width: 22%;
        background-color: deeppink;
        font-size: 21px; 
      
    }
}


.contenaireee{
    height: 71vh;
    width:237vh;
    margin-top: 3%;
    background-color: rgb(237, 238, 238);
    

    .col{
        background-color: rgb(255, 255, 255);
        margin: 2%;
        border-radius: 10PX;
    }

    h1{
        display: flex;
        justify-content: center;
        
        
    }
     button{
        
        border-radius: 15px;
        height: 7%;
        width: 27%;
        background-color: deeppink;
    }
}



.contenaireeee{
        background: url(Assets/about-bg.png);
        background-size: cover;

    button{
        margin: 8%; 
        border-radius: 15px;
        height: 7%;
        width: 27%;
        background-color: deeppink;
    }
     h1{display: flex;
    justify-content: center;}
    margin-top: 5%;
}


.contenaireeeee{
    height: 51vh;
    border: 1px solid black; 
    background: url(Assets/subscribe-bg.png);
    
    
   h1{
     margin-left: 25%;
     margin-right: 25%; 
     margin-bottom: 4%;
     margin-top: 3%;
   }
}


.text-center{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
    margin-top: 2%;
}


.navbarnavbar-expand-lgbg-body-tertiary{

      margin-left: 29%;
      margin-right: 25%;
      margin-bottom: 4%;
      
      
}

.form-controlme-2{
    
    width: 353px;
    border-radius: 25px;
    
   
}

.btnbtn-outline-success{

    width: 113px;
    border-radius: 25%;
    height: 36px;
}

.container-fluid{
    
    border-radius: 25%;
    height: 36px;
} 