.btn-primary{
    border-radius: 15px;
}

.img-fluid{
   height: 355px;
   width: 1378px;
   margin-bottom: 1%;
}

.img{
    
   background: url(medium-shot-woman-with-beautiful-sunflowers1.jpg);
    height: 355px;
   width: 1378px;
   margin-bottom: 1%;
}

.h1{
   
    display: flex;
    justify-content: center;
    align-items: center;
    

     h1{
      font-size: 55px;  
      color: blue;
      font-family: Arial, Helvetica, sans-serif;
      margin: 3%;
     }
}

.h5{
    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 64px;
    

     h5{
      font-size: 25px; 
      
      
 
     }
}

.container-fluidjustify-content-start{
    display: flex;
    justify-content: center;
    
    .btnbtn-outline-successme-2{
        width: 292px;
        height: 44px;
        margin: 1%;
        border-radius: 23px;
        background-color: blue;
         
    }

    .btnbtn-smbtn-outline-secondary{
        width: 292px;
        height: 44px;
        margin: 1%;
        border-radius: 23px;
        
    }
}

.hh2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 221);
    
    h2{
        margin: 8%;
        font-size: 37px;
        color: rgb(101, 0, 202);
    }
    
}


.containertext-center{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.grandeimage{
    img{
         height: 415px;
         width: 1378px;
    }
  
}

.basgrandeimage{
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        color: blue;
        font-size: 45px;
        margin: 8%; 
    }
}

.container-fluidimg-main{
display: flex;
justify-content: center;
align-items: center;

}
.carouselslide{
   background-color: transparent;
   margin: 6%;
}

 p{
       margin-top: 22%; 
        margin-left: 3%;
        
    }
    .bbb{
        background-color: rgb(97, 91, 91);
        border-radius: 11px;
        width: 99vh;
        height: 45vh;


    }

    /* box-shadow: x y [flou] couleur; */
.cdr{
     background-color: rgb(177, 177, 177);
     box-shadow: 12px -99px 30px rgb(177, 177, 177, 1);
}

.cdr1{
     background-color: rgb(177, 177, 177);
     box-shadow: 12px 99px 30px rgb(177, 177, 177, 1);
}

.col{
    background-color: rgb(120, 120, 241);
    margin:11px;
    height: 342px;
}
.fin{
     background-color: rgb(177, 177, 177);
     box-shadow: 12px 99px 30px rgb(177, 177, 177, 1);
}

.fiin{
    background-image: url(medium-shot-woman-with-beautiful-sunflowers1.jpg);
    width: 99%;
    height: 45vh;
}









@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
    font-family: "Russo One", sans-serif;
    width: 100%;
    height: 100%;
}

svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #365FA0;
    font-size: 100px;
}

@keyframes stroke {
    0% {
        fill: rgba(72,138,204,0);
        stroke: rgba(54,95,160,1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: rgba(72,138,204,0);
        stroke: rgba(54,95,160,1);
    }
    80% {
        fill: rgba(72,138,204,0);
        stroke: rgba(54,95,160,1);
        stroke-width: 3;
    }
    100% {
        fill: rgba(72,138,204,1);
        stroke: rgba(54,95,160,0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.wrapper {
    background-color: #991919;
    color: rgb(0, 255, 106);
    width: 100%;
    height: 100%;
}




/* From Uiverse.io by csemszepp */ 
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  --hue: 220deg;
  --width: 15rem;
  --accent-hue: 22deg;
  --duration: 0.6s;
  --easing: cubic-bezier(1, 0, 1, 1);
}

.togglesw {
  display: none;
}

.switch {
  --shadow-offset: calc(var(--width) / 20);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: var(--width);
  height: calc(var(--width) / 2.5);
  border-radius: var(--width);
  box-shadow: inset 10px 10px 10px hsl(var(--hue) 20% 80%),
    inset -10px -10px 10px hsl(var(--hue) 20% 93%);
}

.indicator {
  content: '';
  position: absolute;
  width: 40%;
  height: 60%;
  transition: all var(--duration) var(--easing);
  box-shadow: inset 0 0 2px hsl(var(--hue) 20% 15% / 60%),
    inset 0 0 3px 2px hsl(var(--hue) 20% 15% / 60%),
    inset 0 0 5px 2px hsl(var(--hue) 20% 45% / 60%);
}

.indicator.left {
  --hue: var(--accent-hue);
  overflow: hidden;
  left: 10%;
  border-radius: 100px 0 0 100px;
  background: linear-gradient(180deg, hsl(calc(var(--accent-hue) + 20deg) 95% 80%) 10%, hsl(calc(var(--accent-hue) + 20deg) 100% 60%) 30%, hsl(var(--accent-hue) 90% 50%) 60%, hsl(var(--accent-hue) 90% 60%) 75%, hsl(var(--accent-hue) 90% 50%));
}

.indicator.left::after {
  content: '';
  position: absolute;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.indicator.right {
  right: 10%;
  border-radius: 0 100px 100px 0;
  background-image: linear-gradient(180deg, hsl(var(--hue) 20% 95%), hsl(var(--hue) 20% 65%) 60%, hsl(var(--hue) 20% 70%) 70%, hsl(var(--hue) 20% 65%));
}

.button {
  position: absolute;
  z-index: 1;
  width: 55%;
  height: 80%;
  left: 5%;
  border-radius: 100px;
  background-image: linear-gradient(160deg, hsl(var(--hue) 20% 95%) 40%, hsl(var(--hue) 20% 65%) 70%);
  transition: all var(--duration) var(--easing);
  box-shadow: 2px 2px 3px hsl(var(--hue) 18% 50% / 80%),
    2px 2px 6px hsl(var(--hue) 18% 50% / 40%),
    10px 20px 10px hsl(var(--hue) 18% 50% / 40%),
    20px 30px 30px hsl(var(--hue) 18% 50% / 60%);
}

.button::before, 
.button::after {
  content: '';
  position: absolute;
  top: 10%;
  width: 41%;
  height: 80%;
  border-radius: 100%;
}

.button::before {
  left: 5%;
  box-shadow: inset 1px 1px 2px hsl(var(--hue) 20% 85%);
  background-image: linear-gradient(-50deg, hsl(var(--hue) 20% 95%) 20%, hsl(var(--hue) 20% 85%) 80%);
}

.button::after {
  right: 5%;
  box-shadow: inset 1px 1px 3px hsl(var(--hue) 20% 70%);
  background-image: linear-gradient(-50deg, hsl(var(--hue) 20% 95%) 20%, hsl(var(--hue) 20% 75%) 80%);
}

.togglesw:checked ~ .button {
  left: 40%;
}

.togglesw:not(:checked) ~ .indicator.left,
.togglesw:checked ~ .indicator.right {
  box-shadow: inset 0 0 5px hsl(var(--hue) 20% 15% / 100%),
    inset 20px 20px 10px hsl(var(--hue) 20% 15% / 100%),
    inset 20px 20px 15px hsl(var(--hue) 20% 45% / 100%);
}



/* From Uiverse.io by Spacious74 */ 
.watch {
  position: relative;
  transform: scale(0.7);
}
.watch::after,
.watch::before {
  content: "";
  width: 10rem;
  height: 200px;
  background: radial-gradient(circle at 200px, rgb(0, 0, 0), rgb(48, 48, 48));
  box-shadow: inset 0px -10px 18px #ffffffb9, 10px 0px 30px #00000071;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
.watch::before {
  content: "";
  width: 10rem;
  height: 200px;
  background: radial-gradient(circle at 200px, rgb(0, 0, 0), rgb(48, 48, 48));
  box-shadow: inset 0px 10px 18px #ffffffb9, 10px 0px 30px #00000071;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}
.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 140%);
  padding: 3px;
  z-index: 20;
}
.dots .dot {
  width: 17px;
  aspect-ratio: 1;
  background-color: #000000;
  border-radius: 100px;
  display: block;
  margin-bottom: 50px;
  box-shadow: inset 2px 0 5px #ffffff48;
}
.frame {
  background: #0d0d0d;
  border-radius: 92px;
  box-shadow: inset 0 0 24px 1px #0d0d0d, inset 0 0 0 12px #606c78,
    0 20px 30px #00000071;
  height: 380px;
  margin: 0 20px;
  padding: 28px 26px;
  position: relative;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text {
  color: #dddf8f;
  font-size: 10rem;
  font-family: serif;
  font-weight: bolder;
  line-height: 0.8;
  text-shadow: 0 0 40px #d7d886c7;
}
.frame::before {
  border: 1px solid #0d0d0d;
  border-radius: 80px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5),
    inset 0 0 12px 2px rgba(255, 255, 255, 0.75);
  content: "";
  height: 356px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 18.625rem;
}
.sideBtn {
  background: #606c78;
  border-left: 1px solid #000;
  border-radius: 8px 6px 6px 8px / 20px 6px 6px 20px;
  box-shadow: inset 8px 0 8px 0 #1c1f23, inset -2px 0 6px #272c31,
    -4px 0 8px #0d0d0d40;
  height: 72px;
  position: absolute;
  right: 6px;
  top: 108px;
  width: 18px;
  z-index: 9;
}
.sideBtn::before {
  background: #272c31;
  border-radius: 20%;
  box-shadow: 0 -30px rgba(62, 70, 77, 0.75), 0 -27px #272c31, 0 -25px #000,
    0 -21px rgba(62, 70, 77, 0.75), 0 -18px #272c31, 0 -16px #000,
    0 -12px rgba(62, 70, 77, 0.75), 0 -9px #272c31, 0 -7px #000,
    0 -3px rgba(62, 70, 77, 0.75), 0 0 #272c31, 0 2px #000,
    0 6px rgba(62, 70, 77, 0.75), 0 9px #272c31, 0 11px #000,
    0 15px rgba(62, 70, 77, 0.75), 0 18px #272c31, 0 20px #000,
    0 24px rgba(62, 70, 77, 0.75), 0 27px #272c31, 0 29px #000;
  content: "";
  height: 3px;
  margin-top: -2px;
  position: absolute;
  right: 2px;
  top: 50%;
  width: 10px;
  z-index: 9;
}
.sideBtn::after {
  background: #16181b;
  border-radius: 2px 4px 4px 2px / 20px 8px 8px 20px;
  box-shadow: inset -2px 0 2px 0 #000, inset -6px 0 18px #272c31;
  content: "";
  height: 72px;
  position: absolute;
  right: 0;
  top: 0;
  width: 6px;
}
